<!DOCTYPE html>
<html lang="">
  <head>
  <style>
    * {
	  box-sizing: border-box;
    }

    body {
      margin: 0;
    }

    .header {
      text-align: center;
      padding: 32px;
    }

    .column {
      float: left;
      width: 30%;
      padding: 10px;
    }

    .column img {
      margin-top: 12px;
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
<meta charset="utf-8">
  <title>gatoverse</title>
  </head>
  <body>
  <header></header>
  <main>
	  {{range $index, $element := .}}<!--{{$index}}-->
	  {{range $element}}<img src="/gato/{{.Value}}.png" alt="señor no gato real">
	{{end}}
	{{end}}	
  </main>
  <footer></footer>
  </body>
</html>
